
{% extends "base.html" %}

{% block title %} {{block.super}}{% endblock title%}

{% block content%}


     <h1> posts</h1>
    <table>
        <tr>
                {% for i in objects %}
                <td style="padding: 0 15px 0 15px;">

                <div class="card" style="width: 20rem; ">
                  <div class="card-body">
                      {% if i.cover %}
                     <img src="{{ i.cover.url}}" class=class="img-responsive">
                      {% endif %}
                    <h4 class="card-title">{{i.title}} <small style="font-size: small;"> {{i.timestamp | timesince}}</small></h4>
                    <p class="card-text">{{i.content | linebreaks | truncatechars:120}}</p>
                    <a href="{{i.get_absolute_url}}" class="btn btn-outline-dark">view</a> <a href="{{i.get_absolute_url}}edit" class="btn btn-outline-info">edit</a>
                  </div>
                </div> <br>
                {% cycle '' '' '</td></tr><tr>' %}



                {%endfor%}

            </tr>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?{{p}}=1">&laquo; first</a>
            <a href="?{{p}}={{ objects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?{{p}}={{ objects.next_page_number }}">next</a>
            <a href="?{{p}}={{ objects.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content%}
